.jumbotron {
  width: 50%;
  margin: 0 auto;
}

button {     
    margin:0 auto;
    width: 50%; 
}

input {
  width: 50%
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}

.white {
  background-color: white;
}

#number8 {
  font-size: 120px;
}

.sphere {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px black;
  display: inline-block;
  margin: 0 auto;
}

/*.sphere::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 45%;
  width: 12%;
  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}*/

.sphere2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 20%;
  position: relative;
  box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 0px black;
  display: inline-block;
  margin: 5%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 120px solid #9ea3aa;
  position: absolute;
  top: 27%;
  left: 18%;
  margin: 0 auto;

}

#answerContainer {
  position: absolute;
  top: 30%;
  right: 25%;
  margin: 0 auto;
  
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

